beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Deprecated==1.2.14
Flask==3.0.3
Flask-Limiter==3.7.0
gunicorn==22.0.0
h11==0.14.0
idna==3.7
importlib_resources==6.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
limits==3.12.0
lxml==5.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ordered-set==4.1.0
packaging==24.1
Pygments==2.18.0
python-engineio==4.9.1
python-socketio==5.11.4
requests==2.31.0
rich==13.7.1
simple-websocket==1.0.0
soupsieve==2.5
tornado==6.4.1
typing_extensions==4.12.2
uptime-kuma-api==1.2.1
urllib3==2.2.1
websocket-client==1.8.0
Werkzeug==3.0.3
wrapt==1.16.0
wsproto==1.2.0
